<h3>PRATOS</h3>


<button class="btn btn-success" [routerLink]="['/cadastro/prato']">
    <span class="glyphicon glyphicon-plus"></span> Cadastrar novo Prato
</button>


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Restaurante</th>
            <th>Prato</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody *ngFor="let restaurante of restaurantes" >
        <!-- Aqui sera adicionado o carregamento das informações utilizando o Angular-->
            <tr *ngFor="let prato of restaurante.pratos; let i = index" >
                <td>
                   <button type="button" (click)="removeRow(prato, restaurante.pratos, i)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-minus">
                        </i>
                    </button>
                </td>
                <td><span class="glyphicon glyphicon-pencil text-info"></span></td>
                <td>{{restaurante.nome}}</td>
                <td>{{restaurante.pratos[i].nome}}</td>
                <td>{{restaurante.pratos[i].preco}}</td>
            </tr>
    </tbody>
</table>