<h3>RESTAURANTES</h3>

<div class="panel panel-default">
    <div class="panel-heading">Filtros</div>
    <div class="panel-body">
        <form >
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" placeholder="Pesquisar Restaurante" class="form-control" id="nome" [(ngModel)]="searchText" name="nome">
            </div>
            <div class="form-inline">
                <button  class="btn btn-success" [routerLink]="['/cadastro/restaurante']">
                    <span class="glyphicon glyphicon-plus"></span> Cadastrar novo Restaurante
                </button>
            </div>

        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Restaurantes</th>
                </tr>
            </thead>
            <tbody>

                <!-- Aqui sera adicionado o carregamento das informações utilizando o Angular-->
                <tr *ngFor="let restaurante of restaurantes | filter : searchText; let i = index">
                    <td>
                        <button type="button" (click)="removeRow(restaurante, i)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-minus">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info" (click)="alterar(restaurante)">
                            <i class="glyphicon glyphicon-pencil">
                            </i>
                        </button>
                    </td>
                    <td>{{restaurante.nome}} </td>
                </tr>

            </tbody>
        </table>

    </div>



</div>